whatisms.com {
	tls internal

	basicauth {
		allen $2a$14$fVbQes7nK2R14J4Uxh/PDuwb/hbKUOtL83tR5O9qLadul8024IRF.
	}

	reverse_proxy app:8050

	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}

http://whatisms.com {
	basicauth {
		allen $2a$14$fVbQes7nK2R14J4Uxh/PDuwb/hbKUOtL83tR5O9qLadul8024IRF.
	}

	reverse_proxy app:8050

	encode gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}
